<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sea Battle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <a class="navbar-brand" href="#">Sea Battle</a>
            <div class="navbar-nav ml-auto">
                @Html.Partial("~/Views/Home/LogOn.cshtml")
                @Html.Partial("~/Views/Home/LogOff.cshtml")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
