@using SeaBattle.Client.Models;
@using ORM.Models;

@{
    var ship = new Ship();
    var shoot = new Shoot();
    var repair = new Repair();
    ViewBag.Title = "Play";
}

<div id="game">
    <h1>Play</h1>
    <div id="initialize-field">
        <button type="button" class="btn btn-primary" id="initializeFieldBtn">Initialize Field</button>
    </div>
    <div id="add-ship" style="display: none;">

        <div class="form-group">
            @Html.LabelFor(model => ship.X)
            @Html.EditorFor(model => ship.X, new { htmlAttributes = new { @class = "form-control", id = nameof(ship.X) } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => ship.Y)
            @Html.EditorFor(model => ship.Y, new { htmlAttributes = new { @class = "form-control", id = nameof(ship.Y) } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => ship.Speed)
            @Html.EditorFor(model => ship.Speed, new { htmlAttributes = new { @class = "form-control", id = nameof(ship.Speed) } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => ship.Range)
            @Html.EditorFor(model => ship.Range, new { htmlAttributes = new { @class = "form-control", id = nameof(ship.Range) } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => ship.Length)
            @Html.EditorFor(model => ship.Length, new { htmlAttributes = new { @class = "form-control", id = nameof(ship.Length) } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => ship.Type)
            @Html.EnumDropDownListFor(model => ship.Type, new { @class = "form-control", id = nameof(ship.Type) })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => ship.Direction)
            @Html.EnumDropDownListFor(model => ship.Direction, new { @class = "form-control", id = nameof(ship.Direction) })
        </div>
        <button type="button" class="btn btn-primary" id="addShipBtn">Add Ship</button>
        <button type="button" class="btn btn-primary" id="readyBtn">Ready</button>
    </div>

    <div id="shoot" style="display: none;">
        <div class="form-group">
            @Html.LabelFor(model => shoot.X)
            @Html.EditorFor(model => shoot.X, new { htmlAttributes = new { @class = "form-control", id = nameof(shoot.X) } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => shoot.Y)
            @Html.EditorFor(model => shoot.Y, new { htmlAttributes = new { @class = "form-control", id = nameof(shoot.Y) } })
        </div>
        <button type="button" class="btn btn-primary" id="getShoot">Shoot</button>
    </div>

    <div id="repair" style="display: none;">
        <div class="form-group">
            @Html.LabelFor(model => repair.X)
            @Html.EditorFor(model => repair.X, new { htmlAttributes = new { @class = "form-control", id = nameof(repair.X) } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => repair.Y)
            @Html.EditorFor(model => repair.Y, new { htmlAttributes = new { @class = "form-control", id = nameof(repair.Y) } })
        </div>
        <button type="button" class="btn btn-primary" id="getRepair">Repair</button>
    </div>

    <div id="ships" class="my-3" style="display: none;">
        <h3>Your Ships</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Speed</th>
                    <th>Range</th>
                    <th>Length</th>
                    <th>Type</th>
                    <th>Direction</th>
                </tr>
            </thead>
            <tbody id="ships-table-body"></tbody>
        </table>
    </div>
    <div id="shoots" class="my-3" style="display: none;">
        <h3>Shoots</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>X</th>
                    <th>Y</th>
                </tr>
            </thead>
            <tbody id="shoots-table-body"></tbody>
        </table>
    </div>
    <div id="repairs" class="my-3" style="display: none;">
        <h3>Shoots</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>X</th>
                    <th>Y</th>
                </tr>
            </thead>
            <tbody id="repairs-table-body"></tbody>
        </table>
    </div>
    <div id="general-messages"></div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/GameManager.js"></script>
}

@section Styles {
    <style>

        #general-messages {
            border: 1px solid black;
            padding: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

            #general-messages > p {
                margin: 0;
            }

                #general-messages > p:before {
                    content: "-> "
                }
    </style>
}
